html {
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
}

body {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
	margin: 0;
}

/*Шапка*/
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 950px;
	margin-left: 50px;
}
/*Логотип*/
.logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 25px;
}

#company {
	display: flex;
	align-self: baseline;
	font-family: "OpenSans Light", sans-serif;
	color: #EE8129;
	font-weight: 300;
	margin: 5px;
}

#name {
	display: flex;
	align-self: baseline;
	color: #3070A8;
	margin: 5px;
	font-family: "OpenSans Semibold", sans-serif;
	font-weight: 800;
	font-size: 30px;
}
/*Меню*/
#dws-menu,
header label {
	display: none;
}

.topnav {
	display: flex;
	flex-direction: row;
}

#menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-self: flex-end;
	font-size: 10px;
	color: #A3A3A3;
	font-family: "Open Sans SemiBold", sans-serif;
	margin: 0;
}

#menu .menu_par{
	list-style: none;
	margin: 10px 10px 0 10px;
}

a {
	display: block;
	font-size: 15px;
	color: #A3A3A3;
	padding: 10px;
	text-decoration: none;
	line-height: 4;
	border-bottom: solid 4px #FFFFFF;
}

.menu_par:hover > a {
	display: block;
	position: relative;
	border-bottom: solid 4px #3070A8;
	color: #3070A8;
}

/*Слайдер*/

.slider {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-position: center center;
	width: 100%;
	height: 100%;
	background-image: url('../img/Layer93.png');
	background-size: cover;
	color: #fff;
	text-align: center;
	align-items:center;
	font-family: sans-serif;
	margin: 0;
}

.intro_text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin: 150px 0 0 0;
}

.intro_text :nth-child(1) {
	font-size: 30px;
	font-family: 'Alata', sans-serif;
	line-height: 1.5;
	margin: 0;
}

.intro_text :nth-child(2) {
	font-size: 40px;
	font-weight: 800;
	font-family: 'Open Sans ExtraBold', sans-serif;
	line-height: 1.2;
	margin: 0;
}

.intro_text :nth-child(3) {
	align-self: center;
	font-size: 18px;
	font-family: 'Calibri', sans-serif;
	font-weight: 400;
	font-style: italic;
	text-shadow: 0 1px 1px black;
	line-height: 1.3;
	margin: 20px;
	max-width: 500px;
}
/*Кнопка*/
#button {
	color: #fff;
	font-size: 15px;
	border-style: solid;
	border-radius: 2px;
	border-width: 1px;
	border-color: #96A7B9;
	margin: 20px 0 100px 0;
	width: 250px;
	height: 60px;
	background: none;
	cursor: pointer;
}

#button:hover {
	background-color: #96A7B9;
}
/*Сервисы*/
.services_section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: auto;
}

#services {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-self: center;
	width: 85%;
	margin: 30px 0 30px 0;
}

.services_title {
	font-family: "Trebuchet MS Bold", sans-serif;
	text-transform: uppercase;
	font-size: 26px;
	color: #41525C;
	text-align: center;
	margin-top: 50px;
}

.service {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	align-items: center;
	padding: 25px;
	font-family: "OpenSans Regular", "Trebuchet MS Bold", sans-serif;
	color: #999999;
	line-height: 1.5;
}

.service_appellation {
	font-family: "OpenSans Regular", "Trebuchet MS Bold", sans-serif;
	font-size: 23px;
	color: #3070A8;
	margin: 20px;
}

span {
	text-align: center;
}

.span_text {
	color: red;
}

.services_img {
	display: flex;
	justify-content: space-around;
	width: 120px;
	height: auto;
}

.middle_section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: url('../img/Layer102.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 580px;
}
.middle {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 160px;
	width: 100%;
}
.middle_section_title {
	display: flex;
	justify-content: flex-start;
	color: #EE8129;
	font-family: "OpenSans Light", "Trebuchet MS Light", sans-serif;
	text-shadow: 0 0  1px  0  #7E4D25;
	text-transform: uppercase;
	font-size: 22px;
	line-height: 2;
	letter-spacing:2px;
	font-weight: 300;
	margin: 0;
}

.middle_section_subtitle {
	display: flex;
	justify-content: flex-start;
	color: #FFFFFF;
	font-family: 'Calibri', sans-serif;
	font-weight: 300;
	font-style: italic;
	text-shadow: 1px 1px 2px black;
	font-size: 20px;
	line-height: 2;
}

.middle_section_item {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	list-style: disc;
	font-family: sans-serif;
	width: 620px;
}

.middle_section_item {
	list-style: disc;
	color: #9D9D9D;
	line-height: 1.7;
	margin: 10px;
}

.middle_section_item:hover {
	list-style: disc;
	color: #3070A8;
	line-height: 1.7;
	margin: 10px;
	cursor: pointer;
}
/*З формы предложений*/
.offers {
	display: flex;
	justify-content: center;
	font-size: 28px;
	font-family: sans-serif;
	color: #41525C;
	text-transform: uppercase;
}

.contain {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 50px;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 30px;
}

.offer_form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-style: solid;
	border-width: 2px;
	border-color: #2AC2D5;
	border-radius: 6px;
	width: 280px;
	height: auto;
	position: relative;
	font-family: "Trebuchet MS", sans-serif;
	margin: 3px;
}

.form_best {
	border-color: #EE8129;
}

.form_ultimate {
	border-color: #00B89A;
}

.offer_form:hover {
	display: flex;
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	transition: 300ms;
	border-width: 4px;
	z-index: 1;
	opacity: 1;
	margin: 0;
}

.header_standart {
	background-color: #2AC2D5;
	color: #ffffff;
	width: 280px;
	text-align: center;
	font-size: 27px;
	line-height: 2;
}

.header_best {
	background-color: #EF8128;
	color: #FAFDFE;
	width: 280px;
	text-align: center;
	font-size: 27px;
	line-height: 2;
}

.header_ultimate {
	background-color: #13B89A;
	color: #FAFDFE;
	width: 280px;
	text-align: center;
	font-size: 27px;
	line-height: 2;
}

.iconic_grafics  {
	font-size: 25px;
	text-align: center;
	color: #3F4042;
	margin: 12px;
}

.price {
	display: flex;
	align-self: center;
}

.monthly {
	display: flex;
	align-self: flex-end;
	font-size: 18px;
	font-family: "Trebuchet MS", sans-serif;
	color: rgb(53, 73, 90);
	bottom: 10px;

}

.dollar_sign {
	font-size: 26px;
	font-family: "Trebuchet MS",sans-serif;
	color: rgb(53, 73, 90);
	font-weight: bold;
	text-transform: uppercase;
}

.cost {
	display: flex;
	flex-direction: row;
	align-self: center;
	font-size: 75px;
	font-family: "Trebuchet MS", sans-serif;
	color: rgb(53, 73, 90);
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

.button_enroll_today {
	display: flex;
	justify-content: center;
	align-self: center;
	width: 235px;
	height: 40px;
	font-size: 14px;
	font-family: "Trebuchet MS", sans-serif;
	color: #FAFDFE;
	font-weight: bold;
	text-transform: uppercase;
	border-color:  #2F70A8;
	border-radius: 5px;
	background-color: #2F70A8;
	box-shadow: 0 2px 0 0 #13426B;
	margin-bottom:  15px;
	cursor: pointer;
}

.offer_list {
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	font-family: "Trebuchet MS", sans-serif;
	color: #888C94;
	line-height: 2;
	width: 255px;
}

.offer_item {
	list-style: none;
	border: 1px solid  #FFFFFF;
	position: relative;
	right: 25px;
}

.check_mark {
	margin-left: 30px;
	margin-right: 15px;
}
/*ul > li:before{
    background-image: url('../img/check_mark.png');
    position: absolute;
    top: 0;
    left: 10px;
}*/

.offer_item:nth-child(even) {
	background-color: #F5F5F6;
}

.offer_item:nth-child(odd) {
	background-color: #EDF5FD;
}
/*Коментарии*/
.comments {
	display: flex;
	flex-direction: column;
	background-image: url('../img/Layer66.png');
	background-size: cover;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.comments_title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #3170A8;
	font-family: sans-serif;
	line-height: 2;
	font-weight: bold;
}

#what {
	display: flex;
	font-family: sans-serif;
	font-weight: lighter;
	color: #EE8129;
	line-height: 2;
	align-self:center;
	margin: 0;
}

.users {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	margin: 20px;
}

.name-customer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'Calibri', sans-serif;
	font-weight: 300;
	font-style: italic;
	letter-spacing: initial;
}

.staciya-name {
	display: flex;
	align-self: flex-start;
	color: #3070A8;
	margin: 10px;
}
.david-name {
	display: flex;
	align-self: flex-start;
	color: #3070A8;
	margin: 10px;
}

.staciya-comment, .david-comment {
	display: flex;
	flex-direction: column;
	background: white;
	background-size: cover;
	justify-content: space-between;
	font-family: sans-serif;
	font-size: 14px;
	width: 350px;
	height: 95px;
	color: #666666;
	margin: 10px;
	border: 1px solid #ffffff;
}
#stacia-photo, #david-photo {
	width: 99px;
	height: 98px;
}
.staciya-customer, .david-customer {
	display: flex;
	color: #3070A8;
	margin: 10px;
}

.comment-text {
	display: flex;
	justify-content: space-between;
	color: #666666;
	border-top: dashed 1px;
	font-family: sans-serif;
	line-height: 1.5;
	padding: 10px;
	margin: 0;
}

.staciya, .david {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 20px;
}
/*контакты*/
.contacts {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.coordinates {
	display: flex;
	flex-direction: column;
	width: 345px;
	color: #666666;
	font-size: 16px;
	margin-top: 20px;
	font-family: sans-serif;
	line-height: 2;
	font-weight: 400;
	list-style: none;
	margin-left: 150px;

}
ul li {
	list-style: none;
}

.coordinates_item {
	font-weight: 400;
	list-style: none;
}

.coordinates_item-phone:before {
	position: absolute;
	content: url(../img/phone.png);
	margin-left: -50px;
}

.coordinates_item-pin:before {
	position: absolute;
	width: 31px;
	height: 31px;
	content: url(../img/pin.png);
	margin-left: -50px;
}
.coordinates_item-mail:before {
	position: absolute;
	content: url(../img/mail.png);
	margin-left: -52px;
}

#pin {
	height: 32px;
	width: 32px;
}

.social {
	margin-left: -22px;
}
#facebook, #twitter, #linkedin {
	height: 45px;
	width: 45px;
	margin: 10px;
}

.map {
	display: flex;
	width: 706px;
	height: 350px;
	border: none;
	margin-right: 10px;
}
/*футер*/
footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #3070A8;
	color: #ffffff;
	font-size: 16px;
	font-family: sans-serif;
	width: 100%;
}

.footer-block-footer-text-black {
	color: #1D1C1C;
	font-weight: bold;
}